.app-wrap {
    background: #f1f7ff !important;
    background: linear-gradient(#FFF9F1, #f1f7ff) !important;         
    min-height: 100vh !important;
}

.app-header {
    background: #f9fbff !important;
    position: fixed;
    z-index: 1;
    width: 100%;
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
}

.app-content {
    .content-wrap {
        margin-top: calc(50px + 62.7812px / 2);
        background: #fff;
        border-radius: 30px;
        box-shadow: 0 3px 6px -4px rgba(0, 0, 0, 0.12), 0 6px 16px 0 rgba(0, 0, 0, 0.08),
        0 9px 28px 8px rgba(0, 0, 0, 0.05);
        display: flex;
        flex-flow: column;
        justify-content: flex-start;
        align-items: center;
    }
}