.post-wrap {
    position: relative;
    margin: 1.5rem;
    background: #FCFCFC;
    background: linear-gradient(#fffdfa, #fafcff);
    border-radius: 30px;
    width: 100%;
    display: flex;
    flex-flow: row;
    box-shadow: 0px 10px 15px rgba(104, 104, 104, 0.15);
}

.image-wrap {
    width: 35%;
    padding: 2rem;

    .image img {
        border-radius: 30px;
        width: 320px;
        height: 320px;
        box-shadow: 0px 10px 15px rgba(104, 104, 104, 0.15);
    }
}

.recipe-wrap {
    display: flex;
    flex-flow: column;
    width: 65%;

    .recipe-header {
        display: flex;
        flex-flow: column;

        .header {
            display: flex;
            flex-flow: row;
            justify-content: space-between;
            padding: 1rem 0;
        }

        .user-wrap {
            display: flex;
            flex-flow: row;
            align-items: center;

            .user-text {
                margin-left: .5rem;
            }
        }

        .title-wrap {
            flex-grow: 1;
            text-align: center;
            display: flex;

            .title-link {
                flex-grow: 1;
                margin: 0 1rem;                
            }

            .buttons-wrap {
                display: flex;
                justify-content: space-between;
                padding-right: 1rem;
            }
        }
    }

    .recipe-body {
        padding: 1rem;
        flex-grow: 1;
        display: flex;
        flex-flow: column;
        justify-content: space-between;
        align-items: flex-end;

        .stats-wrap {
            display: flex;
            flex-flow: row;
            justify-content: space-between;
            width: 100%;
        }
    }
}
