.post-wrap {
    position: relative;
    margin: 1.5rem 0;
    background: #fafcff;
    background: linear-gradient(#fffdfa, #fafcff);
    border-radius: 30px;
    width: 100%;
    display: flex;
    flex-flow: row;
    box-shadow: 0px 10px 15px rgba(104, 104, 104, 0.15);
}

.image-wrap {
    width: 35%;
    padding: 2rem;

    .image img {
        border-radius: 30px;
        width: 320px;
        height: 320px;
        box-shadow: 0px 10px 15px rgba(104, 104, 104, 0.15);
    }
}

.recipe-wrap {
    display: flex;
    flex-flow: column;
    width: 65%;

    .recipe-body {
        padding: 1rem;
        flex-grow: 1;
        display: flex;
        flex-flow: column;
        justify-content: space-between;
        align-items: flex-end;
    }
}

.skeleton {
    height: 384px;

    .image {
        height: 100%;
        width: 100%;

        & > * {
            width: 320px;
            height: 320px;
            
            span {
                height: 100%;
                width: 100%;
                box-shadow: 0px 10px 15px rgba(104, 104, 104, 0.15);
                border-radius: 30px;
            }
        }
    }
}