.recipe-body-wrap {
    position: relative;
    width: 100%;
    background: #fafcff;
    background: linear-gradient(#fffdfa, #fafcff);

    .recipe-info-wrap {
        position: absolute;
        top: -45px;
        left: 50%;
        transform: translateX(-50%);
        width: fit-content;
        background: #fefcfa;
        border-radius: 30px 30px 0 0;
        z-index: 16;
    }

    .recipe-details-wrap {
        display: flex;
        flex-flow: row;
        margin-top: 1rem;

        .ingredients-list {
            margin-top: 1rem;
            flex-basis: 35%;
        }

        .recipe-details {
            flex-basis: 65%;
            padding: 0 2rem 0 1rem;
        }

        &.skeleton {
            .ingredients-list {
                margin-left: 2rem;
            }
        }
    }
}